body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.navbar {
    height: 100px;
    background-color: #fff;
    border-bottom: 0;
}
.navbar-brand {
    height: auto;
    padding: 15px 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #00585F;
    padding: 40px 15px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #009393;
}

.navbar-inverse .navbar-right > li > a {
    color: #00585f;
    background: #eaeaea;
    border-radius: 15px;
    padding: 6px 12px;
    margin: 34px 0;
}
.navbar-inverse .navbar-right > li > a:hover {
    background: #f0f0f0;
    color: #00585f;
}

.navbar-inverse .navbar-right > li > a.btn-register {
    margin-left: 10px;
    color: #fff;
    background: #00585f;
}
.navbar-inverse .navbar-right > li > a.btn-register:hover {
    background: #009393;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #00585f;
}

#myCarousel {
    width: 100% !important;
    max-height: 600px;
    overflow: hidden;
}
#myCarousel .carousel-caption {
    padding: 0;
    bottom: 50%;
}

.exchange-rate-bar {
    height: 46px;
    background: rgba(0, 88, 95, 0.5);
    list-style: none;
    padding: 0;
    margin-top: -120px;
    overflow: hidden;
}
.exchange-rate-bar li {
    float: left;
    padding: 12px 12px 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.exchange-rate-bar .exchange-rate-title {
    background: #00585f;
    color: #FF3800;
    padding: 6px 24px;
    font-size: 24px;
    
}

.currency-table {
    background: #009393;
    color: #fff;
}

section {
    padding: 50px;
}
.first-section {
    padding: 0;
}
.alternate-section {
    background: #00585f;
    padding: 0;
}
.alternate-section h5{
    color: #fff;
    margin-top: 50px;
}
.alternate-section .blog-item {
    margin-bottom: 50px;
}
h5 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    padding-left: 50px;
    position: relative;
}
h5:before {
    content: '';
    border: 5px solid #FF3800;
    height: 52px;
    width: 35px;
    position: absolute;
    top: -7px;
    left: 0;
}
h5 span {
    font-weight: bold;
}

.btn.btn-default {
    border-radius: 15px;
    background: #00585f;
    color: #fff;
    border: none;
}
.btn.btn-default:hover {
    background: #009393;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
  .exchange-rate-bar {
      display: none;
  }
  .navbar-toggle {
      margin: 33px 15px 33px 0px;
  }
  .navbar-inverse .navbar-nav {
      margin: 0;
  }
  .navbar-inverse .navbar-nav li {
      height: 40px;
      background: #00585f;
      
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }
  .navbar-inverse .navbar-nav li a {
      color: #fff;
      padding: 10px 15px;
  }
   .navbar-inverse .navbar-right li a {
       margin: 0;
       background: transparent !important;
       color: #fff;
       border-radius: 0;
   }
   .navbar-inverse .navbar-right li a:hover {
       color: #009393;
   }
    .navbar-inverse .navbar-right li a.btn-register {
        margin: 0;
    }
    .navbar-inverse .navbar-right li a.btn-register:hover {
        color: #009393;
    }
}
