@model UI.MVC.Models.CursValutarDto

<section>
    <div class="container">
        <div class="col-md-12">
            <h5><span>Cash</span> <br />desk overview</h5>
            <p>See how much money was produced per cash desk</p>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">See overview</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="alternate-section">
    <div class="container">
        <div class="col-md-12">
            <h5><span>Day</span> <br />overview</h5>
            <p>See the amount of money produced per day by all cash desks you have</p>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">See overview</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-12">
            <h5><span>Establish</span> <br />exchange rate</h5>
            <p>At the start of the day you can establish the buying and selling exchange rates for your cash desks.</p>
        </div>
        <div class="col-md-12">
            <form asp-controller="Home" asp-action="Index" method="post">
                <h3>Selling rates:</h3>
                <div class="form-group">
                    <label asp-for="SellingEuroToRon" class="control-label"></label>
                    <input asp-for="SellingEuroToRon" class="form-control" />
                    <span asp-validation-for="SellingEuroToRon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellingGbpToRon" class="control-label"></label>
                    <input asp-for="SellingGbpToRon" class="form-control" />
                    <span asp-validation-for="SellingGbpToRon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SellingUsdToRon" class="control-label"></label>
                    <input asp-for="SellingUsdToRon" class="form-control" />
                    <span asp-validation-for="SellingUsdToRon" class="text-danger"></span>
                </div>
                <h3>Buying rates:</h3>
                <div class="form-group">
                    <label asp-for="BuyingEuroToRon" class="control-label"></label>
                    <input asp-for="BuyingEuroToRon" class="form-control" />
                    <span asp-validation-for="BuyingEuroToRon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuyingGbpToRon" class="control-label"></label>
                    <input asp-for="BuyingGbpToRon" class="form-control" />
                    <span asp-validation-for="BuyingGbpToRon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BuyingUsdToRon" class="control-label"></label>
                    <input asp-for="BuyingUsdToRon" class="form-control" />
                    <span asp-validation-for="BuyingUsdToRon" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}