@model Domain_Entities.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CodTara" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CodTara" class="form-control" />
                <span asp-validation-for="CodTara" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DenumireTara" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DenumireTara" class="form-control" />
                <span asp-validation-for="DenumireTara" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsAdmin" />
                    <label asp-for="IsAdmin"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsNigger" />
                    <label asp-for="IsNigger"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsOwner" />
                    <label asp-for="IsOwner"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumarDocumentIdentitate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumarDocumentIdentitate" class="form-control" />
                <span asp-validation-for="NumarDocumentIdentitate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nume" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prenume" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prenume" class="form-control" />
                <span asp-validation-for="Prenume" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SerieDocumentIdentitate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SerieDocumentIdentitate" class="form-control" />
                <span asp-validation-for="SerieDocumentIdentitate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TipDocumentIdentitate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TipDocumentIdentitate" class="form-control" />
                <span asp-validation-for="TipDocumentIdentitate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
