@model UI.MVC.Models.Tranzactie

@{
    ViewData["Title"] = "Index";
}
<section class="alternate-section">
    <div class="container">
        <div class="col-md-6">
            <h5><span>Online</span> <br />currency convertor</h5>
            <p>Our currency calculator gives you real time figures based on Yahoo's currency rate.</p>
        </div>
        <div class="col-md-6">
            <div class="currency-calculator">
                <div class="field-row">
                    <div class="curr-from">
                        <label for="from">From:</label>
                        <select name="from" id="from" class="form-control select-box">
                            <option value="USD">USD</option>
                            <option value="RON">RON</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </div>
                    <div class="curr-to">
                        <label for="to">To:</label>
                        <select name="to" id="to" class="form-control select-box">
                            <option value="RON">RON</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </div>
                </div>
                <div class="field-row">
                    <div class="amount-input">
                        <label for="amount">Amount:</label>
                        <input class="amount" type="text" readonly="readonly" name="amount" id="amount" value="1"/>
                    </div>
                    <div class="amount-output">
                        <label for="amount">Amount:</label>
                        <input class="output" type="text" readonly="readonly" name="output" id="output"/>
                    </div>
                </div>
                <input type="button" name="submit" id="submit" value="convert" onclick="getRate(document.getElementById('from').value, document.getElementById('to').value)"/>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-12">
            <h5><span>Register</span> <br />transaction</h5>
            <p>Fill in the fields and submit transaction</p>
        </div>
        <div class="col-md-12">
            <form asp-action="Index" method="post">
                <div class="form-horizontal">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TipOperatie" class="control-label"></label>

                        <select asp-for="TipOperatie" class="form-control">
                            <option>Cumparare</option>
                            <option>Vanzare</option>
                        </select>
                        <span asp-validation-for="TipOperatie" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ActIdentitate" class="control-label"></label>
                        <select asp-for="ActIdentitate" class="form-control">
                            <option>CarteDeIdentitate</option>
                            <option>Pasaport</option>
                            <option>PermisDeConducere</option>
                        </select>
                        <span asp-validation-for="ActIdentitate" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Seria" class="control-label"></label>
                        <input asp-for="Seria" class="form-control" />
                        <span asp-validation-for="Seria" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Numarul" class="control-label"></label>

                        <input asp-for="Numarul" class="form-control" />
                        <span asp-validation-for="Numarul" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Cnp" class="control-label"></label>
                        <input asp-for="Cnp" class="form-control" />
                        <span asp-validation-for="Cnp" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Din" class="control-label"></label>
                        <select asp-for="Din" class="form-control" id="fromCurrency">
                            <option>RON</option>
                            <option>USD</option>
                            <option>EUR</option>
                            <option>GBP</option>
                        </select>
                        <span asp-validation-for="Din" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="In" class="control-label"></label>
                        <select asp-for="In" class="form-control" id="toCurrency">
                            <option>USD</option>
                            <option>RON</option>
                            <option>EUR</option>
                            <option>GBP</option>
                        </select>
                        <span asp-validation-for="In" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SumaTranzationata" class="control-label"></label>
                        <input asp-for="SumaTranzationata" class="form-control" />
                        <span asp-validation-for="SumaTranzationata" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SumaDatorata" class="control-label"></label>
                        <input asp-for="SumaDatorata" class="form-control" />
                        <span asp-validation-for="SumaDatorata" class="text-danger" />
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<section class="alternate-section">
    <div class="container">
        <div class="col-md-12">
            <h5><span>Receipt</span> <br />print</h5>
            <p>Click the following button to generate a receipt for the latest transaction you registered</p>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Print receipt</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">

    function getRate(from, to) {
    var script = document.createElement('script');
    script.setAttribute('src', "http://query.yahooapis.com/v1/public/yql?q=select%20rate%2Cname%20from%20csv%20where%20url%3D'http%3A%2F%2Fdownload.finance.yahoo.com%2Fd%2Fquotes%3Fs%3D"+from+to+"%253DX%26f%3Dl1n'%20and%20columns%3D'rate%2Cname'&format=json&callback=parseExchangeRate");
    document.body.appendChild(script);
  }

  function parseExchangeRate(data) {
    var name = data.query.results.row.name;
    var rate = parseFloat(data.query.results.row.rate, 10);
    document.getElementById('output').value = rate;
  }
</script>
