@model UI.MVC.Models.Tranzactie

@{
    ViewData["Title"] = "Index";
}
<section>
    <div class="container">
        <div class="col-md-12">
            <h5><span>Register</span> <br />transaction</h5>
            <p>Fill in the fields and submit transaction</p>
        </div>
        <div class="col-md-12">
            <form asp-action="Index" method="post">
                <div class="form-horizontal">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TipOperatie" class="control-label"></label>

                        <select asp-for="TipOperatie" class="form-control">
                            <option>Cumparare</option>
                            <option>Vanzare</option>
                        </select>
                        <span asp-validation-for="TipOperatie" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ActIdentitate" class="control-label"></label>
                        <select asp-for="ActIdentitate" class="form-control">
                            <option>CarteDeIdentitate</option>
                            <option>Pasaport</option>
                            <option>PermisDeConducere</option>
                        </select>
                        <span asp-validation-for="ActIdentitate" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Seria" class="control-label"></label>
                        <input asp-for="Seria" class="form-control" />
                        <span asp-validation-for="Seria" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Numarul" class="control-label"></label>

                        <input asp-for="Numarul" class="form-control" />
                        <span asp-validation-for="Numarul" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Cnp" class="control-label"></label>
                        <input asp-for="Cnp" class="form-control" />
                        <span asp-validation-for="Cnp" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Din" class="control-label"></label>
                        <select asp-for="Din" class="form-control">
                            <option>RON</option>
                            <option>USD</option>
                            <option>EUR</option>
                            <option>GBP</option>
                        </select>
                        <span asp-validation-for="Din" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="In" class="control-label"></label>
                        <select asp-for="In" class="form-control">
                            <option>USD</option>
                            <option>RON</option>
                            <option>EUR</option>
                            <option>GBP</option>
                        </select>
                        <span asp-validation-for="In" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SumaTranzationata" class="control-label"></label>
                        <input asp-for="SumaTranzationata" class="form-control" />
                        <span asp-validation-for="SumaTranzationata" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SumaDatorata" class="control-label"></label>
                        <input asp-for="SumaDatorata" class="form-control" />
                        <span asp-validation-for="SumaDatorata" class="text-danger" />
                    </div>
                    <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<section class="alternate-section">
    <div class="container">
        <div class="col-md-12">
            <h5><span>Receipt</span> <br />print</h5>
            <p>Click the following button to generate a receipt for the latest transaction you registered</p>
        </div>
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Print receipt</button>
                </div>
            </form>
        </div>
    </div>
</section>
