@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="~/images/carousel1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="#">
                    Learn more
                </a>
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.

                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/carousel2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="#">
                    Learn More
                </a>
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.

                </p>
            </div>
        </div>
        <div class="item active">
            <img src="~/images/carousel3.jpeg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <a class="btn btn-default" href="#">
                    Sign up now
                </a>
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="first-section">
    <div class="container">
        <div class="col-md-12">
            <ul class="exchange-rate-bar">
                <li class="exchange-rate-title">EXCHANGE RATE</li>
                <li>RON/USD 4.0134</li>
                <li>RON/EUR 4.5413</li>
                <li>RON/GBP 5.3588</li>
                <li>RON/CAD 4.0981</li>
            </ul>
        </div>
    </div>
</section>

<section>

    <div class="container">
        <div class="col-md-12">
            <h5><span>Professional</span> <br />Money Services</h5>
            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy</p>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="service">
                <a href="#" class="thumbnail">
                    <img src="images/thumbnail1.jpg" alt="service1">
                </a>
                <div class="title-section">
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="title">
                        <a href="">Secure Transactions</a>
                    </div>
                    <div class="description">Buy or sell across any border in your currency. We can process 26 currencies from 203 countries and markets and convert them for your convenience. Your money is so well-travelled.</div>
                    <div class="readmore">
                        <a href="">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="service">
                <a href="#" class="thumbnail">
                    <img src="images/thumbnail2.jpeg" alt="service2">

                </a>
                <div class="title-section">
                    <div class="icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <div class="title">
                        <a href="">Accessibility</a>
                    </div>
                    <div class="description">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</div>
                    <div class="readmore">
                        <a href="">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="service">
                <a href="#" class="thumbnail">
                    <img src="images/thumbnail3.jpg" alt="service3">
                </a>
                <div class="title-section">
                    <div class="icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="title">
                        <a href="">Easy Mobile Usage</a>
                    </div>
                    <div class="description">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X.</div>
                    <div class="readmore">
                        <a href="">More Info</a>
                    </div>
                </div>
            </div>
            </div>
    </div>
</section>
<section class="alternate-section">
    <div class="container">
        <div class="col-md-8">
            <h5><span>Upcoming</span><br />latest news</h5>
            <div class="row">
                <div class="blog-item col-sm-4">
                    <div class="image">
                        <a href="#">
                            <img src="http://monex.janxcode.com/wp-content/uploads/2016/04/stock-9-380x256.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span>+</span></div>
                        </a>
                    </div>
                    <div class="title"><a href="#">Considerations Before Investing</a></div>
                    <div class="date"><i class="fa fa-clock-o"></i> April 9, 2016</div>
                </div>
                <div class="blog-item col-sm-4">
                    <div class="image">
                        <a href="#">
                            <img src="http://monex.janxcode.com/wp-content/uploads/2016/04/stock-12-380x256.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span>+</span></div>
                        </a>
                    </div>
                    <div class="title"><a href="#">Australian market set to open lower</a></div>
                    <div class="date"><i class="fa fa-clock-o"></i> April 9, 2016</div>
                </div>
                <div class="blog-item col-sm-4">
                    <div class="image">
                        <a href="#">
                            <img src="http://monex.janxcode.com/wp-content/uploads/2016/04/stock-6-1-380x256.jpg" class="img-responsive" alt="">
                            <div class="overlay"><span>+</span></div>
                        </a>
                    </div>
                    <div class="title"><a href="#">Finance news you need to know today</a></div>
                    <div class="date"><i class="fa fa-clock-o"></i> April 9, 2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="currency-table">
                <h4>US Dollar Exchange Rates</h4>
                <table>
                    <tbody>
                    <tr>
                        <td>AUD</td>
                        <td>1.3392</td>
                    </tr>
                    <tr>
                        <td>BGN</td>
                        <td>1.8523</td>
                    </tr>
                    <tr>
                        <td>BRL</td>
                        <td>3.3919</td>
                    </tr>
                    <tr>
                        <td>CAD</td>
                        <td>1.3177</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>1.0187</td>
                    </tr>
                    <tr>
                        <td>CNY</td>
                        <td>6.907</td>
                    </tr>
                    <tr>
                        <td>CZK</td>
                        <td>25.596</td>
                    </tr>
                    <tr>
                        <td>DKK</td>
                        <td>7.0432</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>0.79491</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
