@model Domain_Entities.Curs

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Curs</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AcronimValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AcronimValuta" class="form-control" />
                <span asp-validation-for="AcronimValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ActualizareValuta" />
                    <label asp-for="ActualizareValuta"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CasierId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CasierId" class="form-control" />
                <span asp-validation-for="CasierId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CursCumparare" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CursCumparare" class="form-control" />
                <span asp-validation-for="CursCumparare" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CursOficialBnr" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CursOficialBnr" class="form-control" />
                <span asp-validation-for="CursOficialBnr" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CursVanzare" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CursVanzare" class="form-control" />
                <span asp-validation-for="CursVanzare" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataCurs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DataCurs" class="form-control" />
                <span asp-validation-for="DataCurs" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DenumireValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DenumireValuta" class="form-control" />
                <span asp-validation-for="DenumireValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Multiplu" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Multiplu" class="form-control" />
                <span asp-validation-for="Multiplu" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumarCurentValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumarCurentValuta" class="form-control" />
                <span asp-validation-for="NumarCurentValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumarLista" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumarLista" class="form-control" />
                <span asp-validation-for="NumarLista" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParitateEuro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParitateEuro" class="form-control" />
                <span asp-validation-for="ParitateEuro" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PozitieValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PozitieValuta" class="form-control" />
                <span asp-validation-for="PozitieValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoldCurentValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoldCurentValuta" class="form-control" />
                <span asp-validation-for="SoldCurentValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TipValuta" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TipValuta" class="form-control" />
                <span asp-validation-for="TipValuta" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
